prediction_pic/prediction_app/__pycache__/
prediction_pic/prediction_pic/__pycache__/
prediction_pic/prediction_app/migrations/__pycache__/
prediction_pic/prediction_app/model_vgg_pytorch_state_dict.pt
*.iml
.idea
.idea/misc.xml
.env
prediction_pic/prediction_app/model_vgg_pytorch_state_dict.pt
.idea/Final_project_TEAM_1.iml
.idea/misc.xml
