html {
    height: 100%;
}
body {
    text-align: center;
    padding: 0;
    margin: 50px;
    background-color: #bbe9e9;
    font-family: Georgia, serif;
    padding-bottom: 30px;
    margin-top: 10px;
}

.container {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
}


.result-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.prediction-container {
    flex: 1
}
.image-container h2{
    border: 2px solid #8DADD0;
    background-color: #9BCCDF;
    border-radius: 1rem;
}
.images-cont img {
   width: 300;
   height: 330;
   margin: 5px;

}
.image-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.images-cont{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #8DADD0;
    background-color: #9BCCDF;
    border-radius: 1rem;
}
.prediction-container {
    text-align: center;
    flex: 1;
    margin-left: 20px;
}
.predict h2{
    border: 2px solid #8DADD0;
    background-color: #9BCCDF;
    border-radius: 12rem;
}

.probability-list h2 {
    margin-right: 30px;
}

.probabilities-wrapper {
    border: 2px solid #8DADD0;
    padding: 10px;
    margin-top: 20px;
}
.probabilities-wrapper {
    margin-top: 20px;
}

.probability-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    margin-top: 5px;

}


.class-name {
    font-size: 18px;
}

.probabilities {
  border: 2px solid #8DADD0;
  background-color: #9BCCDF;
  border-radius: 12px;
}

.fact {
  margin-top: 20px;
  border: 2px solid #8DADD0;
  background-color: #9BCCDF;
  border-radius: 12px;
}

.fact p{
   font-size: 18px;
   font-weight: bold;
   font-style: italic;
   padding: 15;
}

.heatmap{
   display: flex;
   justify-content: space-evenly;
   margin-top: 20px;
   border: 2px solid #8DADD0;
   background-color: #9BCCDF;
   border-radius: 1rem;
   margin-bottom: 10px
}

.heatmap img{
   display: flex;
   max-width: 300;
   height: 320;
   margin: 5px;
}